
    <!-- Container (Services Section) -->
    <div class="container-fluid text-center">
       
      <h1 class="h2services">What we offer</h1>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-off"></span>
          <h4>Indoor Wayfinding</h4>
          <p>Navigate to your favorite shop </p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-heart"></span>
          <h4>Point Of Interets</h4>
          <p>find your favorite outlets</p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-lock"></span>
          <h4>3D Maps</h4>
          <p>experience the actual reality</p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-leaf"></span>
          <h4>Location Sharing</h4>
          <p>track your loved one</p>
        </div>
       
       
      </div>
    </div>
  