  
<article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  <var><article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  </var>
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  

  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  

  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  


  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  
  <article class="entry">
    <a>
      <aside>
        <strong>Quadrant Homes</strong>
      </aside>
      <img src="D:\PROJECT\i\castro.png"/>
    </a>
   
  </article>
  

 
  