body {
    background-color: #f0f0f0;
}

#map {
    height: 100vh;
}

.entry {
    position: relative;
    width: 300px;
    height: 200px;
    background: white;
    margin: 15px;
    overflow: hidden;
    float: left;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .15);
}

.main-search {
    display: flex;
    justify-content: center;
}

.searchBar {
    width: 90%;
    font-size: 18px;
    border: 0.5px gray solid;
    border-radius: 3px;
    padding: 1px 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.searchBar input[type="search"] {
    border: none;
    width: 90%;
}

.searchBar input[type="search"]:focus {
    outline: none
}

@media screen and (max-width: 450px) {
    .map-container {
        position: relative;
        top: 12vh;
        display: flex;
        flex-direction: column;
    }
    .map-container #map {
        flex-grow: 1;
    }
    .map-container .container {
        flex-basis: 0;
        flex-grow: 1;
    }
    .searchBar {
        width: 90%;
    }
}

.map-container {
    display: flex;
}

.map-container #map {
    flex-grow: 3;
}

.map-container .container {
    flex-basis: 0;
    flex-grow: 1;
}

.selected {
    background-color: rgba(0, 162, 255, 0.26);
}