/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    flex-basis: 0;
    flex-grow: 4;
    height: 100vh;
}

#container {
    height: 100%;
    display: flex;
}

#sidebar {
    flex-basis: 5rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: 30rem;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 5px 0;
    flex-grow: 0;
}

button {
    width: 100%;
    padding: 1rem;
    flex-grow: 0;
    cursor: pointer;
    background: #1a73e8;
    font-size: 1.5rem;
    color: white;
    border: none;
}

button:hover {
    color: #c5d4f0;
}

button:disabled {
    background-color: #9fc1ee;
    color: #c5d4f0;
    cursor: auto;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}