<body>

    <div class="topnav" id="myTopnav" #stickyMenu [class.sticky]="sticky">
        <a class="icon" class="active" (click)="myFunction()"> <i class="fa fa-bars fa-2x"></i> </a>
        <a [routerLink]="['./map']" (click)="showme()"> <i class="fa fa-fw fa-home fa-lg"></i> בית</a>
        <a [routerLink]="['/all_categorys']" (click)="showme()"> <i class="fas fa-grip-horizontal fa-lg"></i> חפש קטגוריה</a>
        <a [routerLink]="['/all_shops']" (click)="showme()"> <i class="fas fa-tags fa-lg"></i> חפש חנות </a>

    </div>

</body>
<router-outlet></router-outlet>
<app-map *ngIf="show"></app-map>

<!-- This part is fallback for unhandled error which happens during change detection in the template -->
<div class='crash-error-heading' [hidden]='true'>
    <h2>Something went really wrong</h2>
</div>
<!---->