@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font: 600 15px Lato, sans-serif;
    line-height: 1.8;
}

.topnav {
  overflow: hidden;
  background-color: lightskyblue;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
}

.topnav a {
  position: relative;

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:after {
    position: absolute;
    transition: 1s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
   .topnav a:hover:after {
      width: 100%;
      left: 0;
    }
    


.topnav a.active {
  background-color: lightskyblue;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}