<body>

  <div class="topnav" id="myTopnav">
    <a [routerLink]="['/home_services']" class="active" (click)="showme()">בית</a>
    <a [routerLink]="['/all_categorys']" (click)="showme()">חפש קטגוריה</a>
    <a [routerLink]="['/login']" (click)="showme()"> התחבר </a>
    <a [routerLink]="['/all_shops']">חפש חנות</a>
    <a [routerLink]="['/maps']">למפה</a>
    <a  class="icon" (click)="myFunction()">  <i class="fa fa-bars"></i>  </a>
  </div>
</body>
<router-outlet></router-outlet>
<app-home-services *ngIf="show"></app-home-services>