:root   {
   --font: "Lato", sans-serif;
  }
  #mySidenav{
    font-family: 'Lato';
    direction: rtl;
  }
  ul{
        top: 19px;
      position: relative;
      padding-right: 6px;
      height: 80%;
      overflow-y: auto;
  }
  .sidenav {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    height: 50%;
    top: 4%;
    position: fixed;
    width: 70%;
    z-index: 2;
    top: 25vh; 
    background-color: lightskyblue;
    overflow-x: hidden;
    transition: 0.5s;
   
  }
  .sidenav li span{
    padding-right: 3px;
  }
  .sidenav li   {
    display: block;
      text-decoration:none;
      color: #fff;
      width:100%;
      margin: 10px 5px;
      padding: 10px 5px;
      /* text-align: center; */
      overflow:hidden;
      /* font-family: var(--font); */
    }
   
     .sidenav li:hover {
       font-size:20px;
       background-color: white;
       color:lightskyblue ;
      }
  .sidenav  .closebtn {
    position: absolute;
    top: 0;
    right: 175px;
    font-size: 36px;
  
  }
  
 a{
   color: #fff;
 }
  
  .fa-stack-1x, .fa-stack-2x {
    color: #fff;
    z-index: 1;
    position: fixed;
    left: 40%;
    top: 45%;
    width: 100%;
    text-align: center;
}

#btn-row{
  display: flex;
  justify-content: center;
}
button{
  color: lightslategray;
  background-color: white;
  border-radius: 12%;
  position: relative;
  
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav li {font-size: 18px;}
  }
  