  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">
         <i class="far fa-times-circle  fa-spin"></i>
    </a>
<ul >
     <li><i class="fas fa-search-location"></i> <span>בזר הדרום </span></li>
     <li> <i class="fas fa-search-location"></i> <span> zara </span></li>
     <li><i class="fas fa-search-location"></i><span>חדר כושר</span></li>
     <li><i class="fas fa-search-location"></i> <span>בזר הדרום </span></li>
     <li> <i class="fas fa-search-location"></i> <span> zara </span></li>
     <li><i class="fas fa-search-location"></i><span>חדר כושר</span></li>
     <li><i class="fas fa-search-location"></i> <span>בזר הדרום </span></li>
     <li> <i class="fas fa-search-location"></i> <span> zara </span></li>
     <li><i class="fas fa-search-location"></i><span>חדר כושר</span></li>
  </ul>
  <div id="btn-row">
  <button><i class="fas fa-map-marked-alt"></i> למסלול</button>
</div>
    </div>
  <a   class="fa-stack fa-2x" (click)="openNav()">
    <i class="fas fa-circle fa-stack-2x "style="color:lightskyblue"></i>
  <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
  </a>
