<div class="map-container">

    <div class="container">
        <div>
            <input type="text" class="form-control" list="list" placeholder="הכנס שם קניון" placeholder="הכנס שם קניון" [(ngModel)]="inputValue" (ngModelChange)="searchMall($event)">

            <datalist id="list">
          <option *ngFor="let item of lstMalls" [value]="item.MallName"></option>
          </datalist>
        </div>
        <div class="row">
            <div class="left">
                <h2>find your item</h2>
                <!-- <input type="text" id="mySearch" (keyup)="myFunction()" placeholder="חפש קטגוריה" title="Type in a category"> -->


                <!-- <ul id="myMenu"> -->
                <ul class="list-group">

                    <li *ngFor="let item of typesArry" style="cursor: pointer;" [class.selected]="item.selected!=undefined && item.selected==true" (click)="type(item)" class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="{{item.ikon}}"></i> {{item.name}}
                    </li>



                </ul>
            </div>
        </div>


    </div>

    <div id="map"></div>

</div>

<!-- This part is fallback for unhandled error which happens during change detection in the template -->
<div class='crash-error-heading' [hidden]='true'>
    <h2>Something went really wrong</h2>
</div>
<!---->